* {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

img {
    width: 100%;
}

button {
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

:root {
    --melrose: #B89EFF;
    --heliotrope: #9873FF;
    --cornfloweBlue: #7B61FF;
    --electricViolet: #8052FF;
    --grey: #C8C5D1;
    --text-gray: #B0B0B0;
    --gray33: #333333;
}

.page {
    position: relative;
    height: 100vh;
    background-color: #F5F5F5;
}

.header {
    background-color: white;
    box-shadow: 0 3px 5px rgba(176, 190, 197, 0.32)
}

.header__container {
    display: flex;
    align-items: center;
    gap: 53px;
    max-width: 1366px;
    margin: 0 auto;
    padding: 19px;
}

.header__user-search {
    width: 581px;
    height: 44px;
    padding: 13px 15px;

    font-size: 14px;
    font-weight: 400;
    line-height: 19px;

    border: 1px solid rgba(51, 51, 51, 0.2);
    border-radius: 0;
}

.header__user-search:focus-visible {
    border-color: #B89EFF;
    outline: none;
}

.main {
    position: relative;
    /*height: 100%;*/
}

.main__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1226px;
    padding: 40px 20px;
    margin: 0 auto;
}

.main__title {
    align-self: flex-start;
    margin: 0 0 22px;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    color: var(--gray33);
}

.crm-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 0 40px 0;
    padding: 0;
}

.cell {
    padding: 0;
}

.crm-table__row {
    display: flex;
    padding: 0 20px;
}

.crm-table__row_content {
    align-items: center;
    height: 60px;
    padding: 20px 20px 18px;
    background-color: white;
    border-bottom: 1px solid var(--grey);
}


.crm-table__row-header {
    margin-bottom: 9px;
}

.cell__content_header {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: var(--text-gray);
}

.id-cell__content_header {
    color: var(--heliotrope);
}

.cell__sort-btn {
    margin-left: -1px;
    padding: 0;
    font-size: 10px;
    font-weight: 600;
    line-height: 14px;
    color: var(--heliotrope);
    background-color: transparent;
    border: none;
}

.cell__sort-btn svg {
    margin-top: -1px;
}

.id-cell {
    width: 7.1%;
}

.name-cell {
    width: 32.2%;
}

.created-cell {
    width: 15.3%;
}

.edited-cell {
    width: 15.1%;
}

.contacts-cell {
    width: 14%;
}

.actions-cell {
    width: 16.3%;
}

.cell__content_content {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
}

.id-cell__content {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: var(--text-gray);
}

.time {
    color: var(--text-gray);
}

.row__cell .edited-cell__content,
.row__cell .created-cell__content {
    display: flex;
    gap: 8px;
}

.contacts-cell__icons {
    display: flex;
    flex-wrap: wrap;
    gap: 7.1px;
    max-width: 109px;
    margin-top: 2px;
}

.actions-cell_content {
    display: flex;
    gap: 34px;
}

.row__cell .actions-cell__content {
    display: flex;
    align-items: center;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.row__cell .actions-cell__delete {
    gap: 1px;
    margin-top: -2px;
}

.add-client {
    display: flex;
    align-items: center;
    gap: 9px;
    padding: 11.5px 26px;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    color: var(--heliotrope);
    background-color: transparent;
    border: 1px solid var(--heliotrope);
    cursor: pointer;
}

.modal-opened {
    display: block;
}

.modal {
    position: absolute;
    left: calc((100% - 450px) / 2);
    width: 450px;
    padding-bottom: 26px;
    background-color: white;
}

.modal-background {
    position: absolute;
    top: -100px;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(51, 51, 51, 0.6);
}


.modal__container {
    position: relative;
}

.modal__title {
    margin: 0 0 33px 0;
    padding: 24px 0 0 30px;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    color: var(--gray33);
}

.modal__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-wrapper {
    width: 100%;
    padding: 0 30px;
    margin-bottom: 25px;
}

.form__input {
    width: 100%;
    padding: 0 0 4px 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    color: var(--gray33);
    border: none;
    border-bottom: 1px solid var(--grey);
}

.form__input_surname,
.form__input_name {
    margin-bottom: 33px;
}

.add-contact-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 8px;
    background-color: #F4F3F6;
}

.form__add-contact {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 10px 0 25px 0;
    padding-left: 19px;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    color: var(--gray33);
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.99998 3.66683C6.63331 3.66683 6.33331 3.96683 6.33331 4.3335V6.3335H4.33331C3.96665 6.3335 3.66665 6.6335 3.66665 7.00016C3.66665 7.36683 3.96665 7.66683 4.33331 7.66683H6.33331V9.66683C6.33331 10.0335 6.63331 10.3335 6.99998 10.3335C7.36665 10.3335 7.66665 10.0335 7.66665 9.66683V7.66683H9.66665C10.0333 7.66683 10.3333 7.36683 10.3333 7.00016C10.3333 6.6335 10.0333 6.3335 9.66665 6.3335H7.66665V4.3335C7.66665 3.96683 7.36665 3.66683 6.99998 3.66683ZM6.99998 0.333496C3.31998 0.333496 0.333313 3.32016 0.333313 7.00016C0.333313 10.6802 3.31998 13.6668 6.99998 13.6668C10.68 13.6668 13.6666 10.6802 13.6666 7.00016C13.6666 3.32016 10.68 0.333496 6.99998 0.333496ZM6.99998 12.3335C4.05998 12.3335 1.66665 9.94016 1.66665 7.00016C1.66665 4.06016 4.05998 1.66683 6.99998 1.66683C9.93998 1.66683 12.3333 4.06016 12.3333 7.00016C12.3333 9.94016 9.93998 12.3335 6.99998 12.3335Z' fill='%239873FF'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: left center;
}

.modal__delete-client,
.form__preserve {
    width: 147px;
    margin-bottom: 5px;
    padding: 13px 35px;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    color: white;
    background-color: var(--heliotrope);
}

.modal__cancel {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-decoration: underline;
}

.close-modal {
    position: absolute;
    top: 21px;
    right: 21px;
}

.itc-select {
    width: 127px;
    border: 1px solid var(--grey);
}

.itc-select * {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    border-radius: 0;
}

.itc-select__toggle {
    width: 123px;
    height: 100%;
    background-color: #E7E5EB;
    border: none;
}

.itc-select__toggle::after {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_121_1079)'%3E%3Cpath d='M1.495 3.69003C1.25 3.93503 1.25 4.33003 1.495 4.57503L5.65 8.73003C5.845 8.92503 6.16 8.92503 6.355 8.73003L10.51 4.57503C10.755 4.33003 10.755 3.93503 10.51 3.69003C10.265 3.44503 9.87 3.44503 9.625 3.69003L6 7.31003L2.375 3.68503C2.135 3.44503 1.735 3.44503 1.495 3.69003Z' fill='%239873FF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_121_1079'%3E%3Crect width='12' height='12' fill='white' transform='translate(0 12) rotate(-90)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.itc-select__dropdown {
    top: 28.8px;
    background-color: #F4F3F6;
}

.itc-select__option_selected {
    display: none;
}

.contact-field-container {
    display: flex;
    width: 100%;
    margin: 0 0 15px 0;
    padding: 0 30px;
}

.contact-field-container:last-of-type {
    margin: 25px 0 15px 0;
}

.contact-input-field {
    width: 100%;
    padding-left: 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    background-color: transparent;
    border: 1px solid var(--grey);
    border-left: none;
    border-radius: 0;
}

.name-wrapper {
    position: relative;
    width: 100%;
}

.new-client-label {
    position: absolute;
    left: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: #B0B0B0;
}

.remove-contact {
    padding: 12px 6px 11px 7px;
    background-color: #E7E5EB;
    border: 1px solid var(--grey);
    border-left: none;
}

.no-contacts {
    margin: 8px 0;
}

.modal__container-delete {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 22px 0 27px 0;
}

.delete-title {
    margin-bottom: 11px;
    padding: 0;
}

.modal__desc {
    width: 275px;
    margin: 0 0 25px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
}

.modal-delete {
    padding: 0;
}

.modal-header {
    display: flex;
    align-items: flex-end;
    gap: 9px;
    margin-bottom: 33px;
    padding: 24px 0 0 30px;
}

.modal-header .modal__title {
    margin: 0;
    padding: 0;
}

.client-id {
    margin-bottom: 3px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: var(--grey);
}

.edit-label {
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    color: var(--grey);
}

.new-client-label span,
.edit-label span {
    color: var(--heliotrope);
}

.error {
    margin-bottom: 8px;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    color: #F06A4D;
}

.tippy-box[data-theme~='crm'] {
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    color: white;
    background-color: var(--gray33);
    border-radius: 0;
}

.contacts-left {
    position: relative;
    width: 16px;
    height: 16px;
    font-size: 8px;
    font-weight: 600;
    line-height: 11px;
    color: var(--gray33);
    border: 1px solid var(--heliotrope);
    border-radius: 100%;
    cursor: pointer;
}

.contacts-left span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -5px 0 0 -5px;
}

.modal__client-delete {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-decoration: underline;
}

.add-client:hover {
    color: white;
    background-color: #B89EFF;
}

.add-client:hover path {
    fill: white;
}

.add-client:active {
    color: white;
    background-color: #8052FF;
}

.add-client:active path {
    fill: white;
}

.form__add-contact:hover {
    color: var(--heliotrope);
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.333313 7.00016C0.333313 3.32016 3.31998 0.333496 6.99998 0.333496C10.68 0.333496 13.6666 3.32016 13.6666 7.00016C13.6666 10.6802 10.68 13.6668 6.99998 13.6668C3.31998 13.6668 0.333313 10.6802 0.333313 7.00016ZM6.33329 4.33366C6.33329 3.96699 6.63329 3.66699 6.99996 3.66699C7.36663 3.66699 7.66663 3.96699 7.66663 4.33366V6.33366H9.66663C10.0333 6.33366 10.3333 6.63366 10.3333 7.00033C10.3333 7.36699 10.0333 7.66699 9.66663 7.66699H7.66663V9.66699C7.66663 10.0337 7.36663 10.3337 6.99996 10.3337C6.63329 10.3337 6.33329 10.0337 6.33329 9.66699V7.66699H4.33329C3.96663 7.66699 3.66663 7.36699 3.66663 7.00033C3.66663 6.63366 3.96663 6.33366 4.33329 6.33366H6.33329V4.33366Z' fill='%239873FF'/%3E%3C/svg%3E%0A");
}

.close-modal:hover path {
    fill: #F06A4D;
}

.form__input:focus {
    outline: none;
    border-bottom-color: #8052FF;
}

.invalidField {
    border-bottom-color: #F06A4D;
}

.actions-cell__alter:hover {
    color: #9873FF;
}

.actions-cell__delete:hover {
    color: #F06A4D;
}

