* {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

img {
    width: 100%;
}

button {
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

:root {
    --melrose: #B89EFF;
    --heliotrope: #9873FF;
    --cornfloweBlue: #7B61FF;
    --electricViolet: #8052FF;
    --grey: #C8C5D1;
    --text-gray: #B0B0B0;
    --gray33: #333333;
}

.container {
    max-width: 1186px;
    padding: 40px 0;
    margin: 0 auto;
}

.header {
    box-shadow: 0 3px 5px rgba(176, 190, 197, 0.32)
}

.header__container {
    display: flex;
    align-items: center;
    gap: 53px;
    max-width: 1366px;
    margin: 0 auto;
    padding: 19px;
}

.header__user-search {
    width: 581px;
    height: 44px;
    padding: 13px 15px;

    font-size: 14px;
    font-weight: 400;
    line-height: 19px;

    border: 1px solid rgba(51, 51, 51, 0.2);
    border-radius: 0;
}

.header__user-search:focus-visible {
    border-color: #B89EFF;
    outline: none;
}

.main {
    height: 100vw;
    background-color: #F5F5F5;
}

.main__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__title {
    align-self: flex-start;
    margin: 0 0 22px;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    color: var(--gray33);
}

.crm-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 0 40px 0;
    padding: 0;
}

.cell {
    padding: 0;
}

.crm-table__row {
    display: flex;
    padding: 0 20px;
}

.crm-table__row_content {
    padding: 20px 20px 19.5px;
    background-color: white;
    border-bottom: 1px solid var(--grey);
}


.crm-table__row-header {
    margin-bottom: 9px;
}

.cell__content_header {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: var(--text-gray);
}

.id-cell__content_header {
    color: var(--heliotrope);
}

.cell__sort-btn {
    margin-left: -1px;
    padding: 0;
    font-size: 10px;
    font-weight: 600;
    line-height: 14px;
    color: var(--heliotrope);
    background-color: transparent;
    border: none;
}

.cell__sort-btn svg {
    margin-top: -1px;
}

.id-cell {
    width: 7.1%;
}

.name-cell {
    width: 32.2%;
}

.created-cell {
    width: 15.3%;
}

.edited-cell {
    width: 15.1%;
}

.contacts-cell {
    width: 14%;
}

.actions-cell {
    width: 16.3%;
}

.cell__content_content {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
}

.id-cell__content {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: var(--text-gray);
}

.time {
    color: var(--text-gray);
}

.edited-cell__content,
.created-cell__content {
    display: flex;
    gap: 8px;
}

.contacts-cell__icons {
    display: flex;
    gap: 7.1px;
    margin-top: 2px;
}

.actions-cell_content {
    display: flex;
    gap: 34px;
}

.actions-cell__content {
    display: flex;
    align-items: center;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.actions-cell__delete {
    gap: 3px;
}

.add-client {
    display: flex;
    align-items: center;
    gap: 9px;
    padding: 11.5px 26px;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    color: var(--heliotrope);
    background-color: transparent;
    border: 1px solid var(--heliotrope);
    cursor: pointer;
}

.modal-opened {
    display: block;
}

.modal {
    position: absolute;
    /*top: 21%;*/
    left: 33.5%;
    width: 450px;
    padding-bottom: 26px;
    background-color: white;
}

.modal-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(51, 51, 51, 0.6);
}


.modal__container {
    position: relative;
}

.modal__title {
    margin: 0 0 33px 0;
    padding: 24px 0 0 30px;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    color: var(--gray33);
}

.modal__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-wrapper {
    width: 100%;
    padding: 0 30px;
    margin-bottom: 25px;
}

.form__input {
    width: 100%;
    padding: 0 0 4px 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    color: var(--gray33);
    border: none;
    border-bottom: 1px solid var(--grey);
}

.form__input_lastname,
.form__input_name {
    margin-bottom: 33px;
}

.add-contact-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 25px;
    background-color: #F4F3F6;
}

.form__add-contact {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 10px 0 25px 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    color: var(--gray33)
}

.modal__delete-client,
.form__preserve {
    width: 147px;
    margin-bottom: 5px;
    padding: 13px 35px;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    color: white;
    background-color: var(--heliotrope);
}

.modal__cancel {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-decoration: underline;
}

.close-modal {
    position: absolute;
    top: 21px;
    right: 21px;
}

.itc-select {
    width: 127px;
    border: 1px solid var(--grey);
}

.itc-select * {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    border-radius: 0;
}

.itc-select__toggle {
    width: 123px;
    height: 100%;
    background-color: #E7E5EB;
    border: none;
}

.itc-select__toggle::after {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_121_1079)'%3E%3Cpath d='M1.495 3.69003C1.25 3.93503 1.25 4.33003 1.495 4.57503L5.65 8.73003C5.845 8.92503 6.16 8.92503 6.355 8.73003L10.51 4.57503C10.755 4.33003 10.755 3.93503 10.51 3.69003C10.265 3.44503 9.87 3.44503 9.625 3.69003L6 7.31003L2.375 3.68503C2.135 3.44503 1.735 3.44503 1.495 3.69003Z' fill='%239873FF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_121_1079'%3E%3Crect width='12' height='12' fill='white' transform='translate(0 12) rotate(-90)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.itc-select__dropdown {
    top: 28.8px;
    background-color: #F4F3F6;
}

.itc-select__option_selected {
    display: none;
}

.contact-field-container {
    display: flex;
    width: 100%;
    margin: 0 0 15px 0;
    padding: 0 30px;
}

.contact-field-container:last-of-type {
    margin: 25px 0 15px 0;
}

.contact-input-field {
    width: 100%;
    padding-left: 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    background-color: transparent;
    border: 1px solid var(--grey);
    border-left: none;
    border-radius: 0;
}

.name-wrapper {
    position: relative;
    width: 100%;
}

.new-client-label {
    position: absolute;
    left: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: #B0B0B0;
}

.remove-contact {
    padding: 12px 6px 11px 7px;
    background-color: #E7E5EB;
    border: 1px solid var(--grey);
    border-left: none;
}

.no-contacts {
    margin: 8px 0;
}

.modal__container-delete {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 22px 0 27px 0;
}

.delete-title {
    margin-bottom: 11px;
    padding: 0;
}

.modal__desc {
    width: 275px;
    margin: 0 0 25px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
}

.modal-delete {
    padding: 0;
}

.modal-header {
    display: flex;
    align-items: flex-end;
    gap: 9px;
    margin-bottom: 33px;
    padding: 24px 0 0 30px;
}

.modal-header .modal__title {
    margin: 0;
    padding: 0;
}

.client-id {
    margin-bottom: 3px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: var(--grey);
}

.edit-label {
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    color: var(--grey);
}

.new-client-label span,
.edit-label span {
    color: var(--heliotrope);
}


